.App {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.search-form {
  display: flex;
  justify-content: center;
  padding: none;
  border: 1rem solid pink;
}

.search-button {
  width: 100px;
  background-color: coral;
}

.recipe {
  display: flex;
  justify-content: space-center;
  flex-wrap: wrap;
  flex-grow: 3;
  order: 2;
  align-content: center;
}

/* .infoContainer {
  display: flex;
  justify-content: center;
} */
.img {
  border-style: dotted purple;
  margin: auto;
  display: block;
}

/* .cal {
  color: blue;
  background-color: purple;
} */

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
} */
